#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define ALPHA   0
#define NUM     1
#define ARROW   2
#define FKEYS   3
#define SYSTEM  4

&mt {
    // We use this for the MEH-key only.
    // Higher timeouts are required to prevent misfiring.

    tapping-term-ms = <230>;
    quick_tap_ms = <180>;
    global-quick-tap;
    flavor = "tap-preferred";
};

&sl { release-after-ms = <500>; };

/ {
    behaviors {
        lm: home_row_left {
            compatible = "zmk,behavior-hold-tap";
            label = "home_row_left";
            #binding-cells = <2>;
            tapping-term-ms = <220>;
            quick_tap_ms = <180>;
            flavor = "balanced";
            bindings = <&kp>, <&kp>;

            hold-trigger-key-positions = <5 6 7 8 9 15 16 17 18 19 25 26 27 28 29 32 33>;
        };

        rm: home_row_right {
            compatible = "zmk,behavior-hold-tap";
            label = "home_row_right";
            #binding-cells = <2>;
            tapping-term-ms = <220>;
            quick_tap_ms = <180>;
            flavor = "balanced";
            bindings = <&kp>, <&kp>;

            hold-trigger-key-positions = <0 1 2 3 4 10 11 12 13 14 20 21 22 23 24 30 31>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        layer_1 {
            bindings = <
&kp Q        &kp W        &kp E       &kp R           &kp T   &kp Y   &kp U   &kp I           &kp O             &kp P
&kp A        &kp S        &kp D       &kp F           &kp G   &kp H   &kp J   &kp K           &kp L             &kp SEMI
&mt LCTRL Z  &mt LSHFT X  &mt LALT C  &mt LEFT_GUI V  &kp B   &kp N   &kp M   &mt RALT COMMA  &mt RSHFT PERIOD  &mt RCTRL SLASH
            >;

            label = "1";
        };

        layer-2 {
            bindings = <
&kp N1        &kp N2      &kp N3         &kp N4        &kp N5         &kp N6         &kp N7        &kp N8        &kp N9        &kp N0
&kp LS(EXCL)  &kp LS(AT)  &kp LS(POUND)  &kp LS(DLLR)  &kp LS(PRCNT)  &kp LS(CARET)  &kp LS(AMPS)  &kp LS(STAR)  &kp LS(LPAR)  &kp LS(RPAR)
&kp COLON     &kp Q       &kp J          &kp K         &kp X          &kp B          &kp M         &kp W         &kp V         &kp Z
            >;
        };

        num_and_signs {
            bindings = <
&kp SQT   &kp UNDER  &kp AMPS   &kp LBRC  &kp RBRC  &none   &kp N7  &kp N8  &kp N9  &kp BKSP
&kp PLUS  &kp MINUS  &kp EQUAL  &kp LPAR  &kp RPAR  &kp N0  &kp N4  &kp N5  &kp N6  &kp ENTER
&kp SEMI  &kp AT     &kp PIPE   &kp LBKT  &kp RBKT  &none   &kp N1  &kp N2  &kp N3  &none
            >;
        };

        arrow_and_signs {
            bindings = <
&kp ESC   &kp PRCNT  &kp HASH   &kp LT     &kp GT     &none  &none         &kp PG_DN  &kp PG_UP  &kp DEL
&kp EXCL  &kp SLASH  &kp ASTRK  &kp DLLR   &kp CARET  &none  &kp LARW      &kp DARW   &kp UARW   &kp RARW
&none     &kp BSLH   &kp TILDE  &kp GRAVE  &kp QMARK  &none  &kp LA(LARW)  &none      &none      &kp LA(RARW)
            >;
        };
    };
};
